*,*::before,*::after{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
html{
  font-size:62.5%;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  font-size:1.6rem;
}
/*Globle*/
li{
   list-style-type: none;
}
a,a:link,a:active{
  text-decoration:none;
}
.row{
  max-width:110rem;
  height:47rem;
  margin:0 auto;
  padding-top:3rem;
}
.current{
  color:#182153;
  color:var(--darkblue);
  font-weight: bold;
}
section{
  outline:none;
}
/*Colors*/
:root{
  --darkblue:#182153;
  --lightblue:rgba(24, 33, 83, 0.8);
  --lightgray:#eee;
  --darkgray:#777;
  --black:#000;
}

/*header section*/
.header{
  position:relative;
  padding:5rem;
  background-color:#fff;
}
.name{
  position:absolute;
  top:3rem;
  left:3rem;
}
.name h1{
  color:#182153;
  color:var(--darkblue);
}
.nav{
  position:absolute;
  top:4.5rem;
  right:3rem;
}
#nav li{
  display:inline-block;
  margin-left:2rem;
}
.header a{
  color:rgba(24, 33, 83, 0.8);
  color:var(--lightblue);
  text-transform: uppercase;
}
/*another nav small version*/
.humburger{
  display:none;
  position:absolute;
  top:2.3rem;
  right:3rem;
  height:5rem;
  width:5rem;
  border-radius: 100%;
  border: 1px solid #fff;
  background-color:#182153;
  background-color:var(--darkblue);
  z-index: 20000;
}
.humburger .line{
 position:relative;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
 height:2px;
 width:2.5rem;
 background-color:#fff;
 font-weight: bold;
 cursor:pointer;
 border:none;
 border-radius: 0;
}
.humburger .line::before, .humburger .line::after{
  content:"";
  position:absolute;
  top:.6rem;
  left:0;
  height:100%;
  width:100%;
  background-color:#fff;
  font-weight: bold;
  border:none;
  border-radius: 0;
}
.humburger .line::after{
  top:-.6rem;
}
.humburger:hover .line::before{
  top: .8rem;
}
.humburger:hover .line::after{
  top: -.8rem;
}
.menu{
  position: fixed;
  top: 0;
  left: 0;
  background-color:#182153;
  background-color: var(--darkblue);
  height: 100vh;
  width:100%;
  z-index: 2000;
}
.menu ul{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.menu li{
  display:block;
  padding:1.5rem 6rem;
  text-align:center;
  background-image: linear-gradient(120deg, transparent 0% ,transparent 50% , #fff 50%);
  background-size: 220%;
  transition: all .4s;
}
.menu li:hover{
  background-position: 100%;
  transform: translateX(1rem);
}
.menu li a{
  color:#fff;
  font-size: 2rem;
}
.menu li:hover a{
  color:#182153;
  color:var(--darkblue);
}
#toggle,.menu{
  display: none;
}
#toggle:checked + .humburger .line {
  background-color:#182153;
  background-color:var(--darkblue);
  transition:background-color .3s; 
}
#toggle:checked + .humburger .line::before {
  transform:rotate(45deg);
  top:0;
  left:0;
  transition:transform .3s; 
}
#toggle:checked + .humburger .line::after {
  transform:rotate(-45deg);
  top:0;
  left:0;
  transition:transform .3s;
}
#toggle:checked ~ .menu {
  display: block;
}
/*about section*/
.about{
  /*
  background-image:url("https://images.unsplash.com/photo-1430417934865-589b63ad5c00?ixlib=rb-0.3.5&s=bb43eafc726c080caf0cb08ea650b027&auto=format&fit=crop&w=1510&q=80"),url("../sky glass.jpg");*/
  background-image: url("sky glass.jpg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}
.col-1,.col-2{
  position:relative;
  float:left;
  height:100%;
  width:50%;
}
.about__icons{
  clear:both;
}
.about .col-2{
  background-color:#eee;
  background-color:var(--lightgray);
}
.me,.me-2{
  position:absolute;
  height:100%;
  width:100%;
}
.me-2{
  display: none;
}
.top,.bottom{
  padding:6rem;
}
.top{
  padding-bottom:1rem;
}
.top h3,span{
  color:#182153;
  color:var(--darkblue);
  font-weight:bold;
}
.top h3{
  font-size:2rem;
}
.top p{
  color:rgba(24, 33, 83, 0.8);
  color:var(--lightblue);
  margin-top:1rem;
}
.bottom{
  padding-top:2rem;
  color:rgba(24, 33, 83, 0.8);
  color:var(--lightblue);
}
.bottom li{
  margin-bottom:2rem;
  color:rgba(24, 33, 83, 0.8);
  color:var(--lightblue);
}
.about__icons{
  position:relative;
  background-color:#182153;
  background-color:var(--darkblue);
  padding:3rem;
  max-width:110rem;
  margin:0 auto;
}
#icon{
 position:absolute;
 top:50%;
 left:50%;
 transform:translate(-50%,-50%);
}
#icon li,.social li{
 display: inline-block;
 margin-left:3rem;
}
#icon li a{
  color:#fff;
  font-weight:bold;
  font-size:2rem;
}
/*text section*/
.text{
  background-color:#eee;
  background-color:var(--lightgray);
  padding:5rem;
  text-align:center;
}
.text h3{
  color:#182153;
  color:var(--darkblue);
  margin-bottom:1rem;
  word-spacing:.5rem; 
  font-size: 2rem;
}
.text p{
  color:rgba(24, 33, 83, 0.8);
  color:var(--lightblue);
  line-height:2;
  font-size: 1.8rem;
}
#cv{
  display:inline-block;
  padding: 2rem;
  background-color:#182153;
  background-color: var(--darkblue);
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  border-radius: .5rem;
  margin-top:1rem;
}
/*education section*/
.education,.skills,.contact{
  position:relative;
  width:100%;
  background-color: #fff;
 }
.education__header,.experience__header,.skills__header,.contact__header{
  position:relative;
  top:0;
  left:0;
  height:12vh;
  width:100%;
  border: 1px solid #eee;
  border:1px solid var(--lightgray);
 }
 .education__header h2,.experience__header h2,.skills__header h2,.contact__header h2{
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  text-transform:uppercase;
  letter-spacing:.4rem; 
  color:#182153; 
  color:var(--darkblue);
 }
 .education .row{ 
  height:25rem;
  margin:3rem auto;
 }
 .barrer{
   position:absolute;
   top:2rem;
   right:0;
   height:80%;
   width:.3rem;
   background-color:#eee;
   background-color: var(--lightgray);
 }
 .education .ball,.experience .ball{
  position:absolute;
  top:5.8rem;
  right:-2px;
  height:6px;
  width:6px;
  border-radius:100%;
  background-color:#182153; 
  background-color:var(--darkblue);
 }
 .date{
   position:absolute;
   top:5rem;
   right:5rem;
 }
 .job{
   position:absolute;
   top:5rem;
   left:5rem;
 }
 .date h3,.job h3{
  color:#182153;
  color:var(--darkblue);
  font-weight:bold;
  margin-bottom:1rem;
  letter-spacing:.2rem;
}
.date p,.job p{
  color:rgba(24, 33, 83, 0.8);
  color:var(--lightblue);
  margin-bottom:1rem;
  line-height:3rem;
}
#ball,.wrapper{
  display:none;
}
/*education section for samll version*/
.wrapper{
  width:90%;
  margin:3rem auto;
}
#date{
  position: relative;
  margin-bottom:2rem;
}
#date h3,#job h3,.up h3 ,.down h3{
  color:#182153;
  color:var(--darkblue);
  margin-bottom:1rem;
  margin-left: 2rem;
}
#date p,#job p,.up p,.down p{
  color:rgba(24, 33, 83, 0.8);
  color:var(--lightblue);
  margin-left: 2rem;
}
#job p{
line-height:3rem;
}
#ball{
  position:absolute;
  top:.7rem;
  left:0;
  height:6px;
  width:6px;
  border-radius:100%;
  background-color:#182153;
  background-color:var(--darkblue);
}
/*experience section*/
.experience{
  height: 100vh;
}
.line-1,.line-2{
  position:absolute;
  top:5rem;
  left:0;
  height:110%;
  width:.3rem;
  background-color:#eee;
  background-color: var(--lightgray);
}
.experience .col-1 li,.experience .col-2 li{
  position:relative;
  top:8rem;
  left:0;
  margin-bottom:5rem;
}
.experience .bullet{
  position:absolute;
  top:.8rem;
  left:-.1rem;
  height:6px;
  width:6px;
  border-radius:100%;
  background-color:#182153;
  background-color:var(--darkblue);
}
.experience .up,.experience .down{
  padding-left:.5rem;
}
.experience .up{
  margin-bottom: 1rem;
}
.experience .up p{
  letter-spacing:.2rem;
}
/*.experience section for small version*/
.experience .wrapper{
  display: none;
}
.experience .wrapper li{
  margin-bottom: 3rem;
}

/*.skills section*/
.skills #skills__left{
  position: absolute;
  top:5rem;
  right:7rem;
}
.skills #skills__right{
  position: absolute;
  top:5rem;
  left:7rem;
}
.skills ul{
  width: 70%;
}
.skills ul li{
  padding:2.5rem;
  text-align: center;
  background-color:#182153;
  background-color:var(--darkblue);
  color:#fff;
  letter-spacing:.15rem;
  margin-bottom: 2rem;
}
#skill{
  display: none;
}
/*contact me section*/
.contact{
  background-color:#eee;
  background-color: var(--lightgray);
}
.contact__header{
  border-bottom: 1px solid #fff;
}
.contact .col-1{
  border-right:1px solid #fff; 
}
.form{
  padding: 6rem;
}
.form input,.form textarea,#text,#submit{
  width: 100%;
}
input,textarea{
  padding: 1rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 0;
}
input:focus,textarea{
  outline: none;
}
textarea{
  height: 15rem;
  resize: none;
  border: none;
  border-radius:0;
}
#submit{
  padding:1.6rem;
  text-align: center;
  color: #fff;
  font-size: 1.8rem;
  background-color:#182153;
  background-color:var(--darkblue);
  border: 1px solid #182153;
  border: 1px solid var(--darkblue);
  cursor: pointer;
}
#top,#bottom{
  padding: 6rem;
}
#top{
  padding-bottom: 3rem;
}
#bottom{
  padding-top:0;
}
#top h3{
  color:#182153;
  color: var(--darkblue);
  font-weight: bold;
  margin-bottom: 1rem;
}
#top p{
  color:rgba(24, 33, 83, 0.8);
  color: var(--lightblue);
}
#bottom li{
  margin-bottom: 1.5rem;
  color:rgba(24, 33, 83, 0.8);
  color: var(--lightblue);
}
.seperate{
  margin: 0.2rem 0 2rem 6rem;
  height: 1px;
  width:60%;
  background-color: #777;
  background-color: var(--darkgray);
}
.social{
  margin-left:4.5rem;
  padding-top: 1rem;
}
.social li a{
  color:#000;
  color:var(--black);
  font-weight:bold;
  font-size:1.7rem;
}
/* contact section for small vesion */
.collect{
  display: none;
}
.collect .form{
  padding-bottom:3rem;
  width: 100%;
}
#text{
  margin: 0 auto;
  text-align: center;
}
#text h3{
  color:#182153;
  color: var(--darkblue);
  margin-bottom: 1rem;
}
#text p{
  color:rgba(24, 33, 83, 0.8);
  color: var(--lightblue);
  margin-bottom: 1rem; 
}
#text li{
  margin-bottom: 2rem;
  color:rgba(24, 33, 83, 0.8);
  color: var(--lightblue);
}
/*footer section*/
.footer{
  padding:3rem;
  width: 100%;
  background-color: #fff;
  text-align: center;
  color:#000;
  color:var(--black);
}
#year{
  color:#000;
  color:var(--black);
  font-weight: normal;
}
#old{
  font-weight: normal;
  color:rgba(24, 33, 83, 0.8);
  color: var(--lightblue);
}
@media only screen and (min-width:112.5em){ /*1em=16 big desktop >1800 px*/
  html{
    font-size: 75%; /*1rem=12px*/
  }
}
@media only screen and (max-width:75em){ /*1em=16 tab land <1200 px*/
  html{
    font-size: 56.25%; /*1rem=9px*/
  }
  
  .experience .down p{
    font-size: 1.3rem;
  }

  .row,.about__icons{
    width:80%;
  } 
}
@media only screen and (max-width:56.25em){ /*1em=16 tab port <900 px*/
  html{
    font-size: 50%; /*1rem=8px*/
  }
}

@media only screen and (max-width:48em){
  /*1em=16 mobile phone <768 px*/
  .header{
    padding: 4.5rem;
  }
  .name h1{
    font-size:2.5rem;
  }
  .nav{
    display:none;
  }
  .humburger{
    display:block;
  }
  .row,.about__icons,.education .row{
    width:80%;
  }
  .col-1,.col-2{
    width:100%;
  }
  .top,.bottom{
    padding-left:3rem;
  }
  #icon li{
    margin-left: .6rem; /*1.5rem for large screen*/
  }
  .social li{
    margin-left:2rem;
  }
  .about{
    height: 100rem;
  }
  .education .row{
    display:none;
  }
  #ball,.education .wrapper,.experience .wrapper{
    display:block;
  }

  .experience .row{
    display:none;
  }
  .experience #date{
    margin-bottom:1rem;
  }
  .experience #date h3,.experience #job h3{
    margin-bottom:.5rem;
  }
  .experience #job p{
    line-height:2rem;
  }
  .skills__header{
    margin-top: 22rem;
  }
  .skills .row{
    display: none;
  }
  #skill{
    display: block;
    width: 60%;
    margin: 3rem auto;
  }
  #skill li{
    padding:3rem;
    text-align: center;
    background-color:#182153;
    background-color:var(--darkblue);
    color:#fff;
    letter-spacing:.15rem;
    margin-bottom: 2rem;
  }
  .contact .row{
    display: none;
  }
  .collect{
    display: block;
  }
  .seperate,.social{
    margin: 0 auto;
  }
  .social{
    margin-left: -2rem;
  }
  .footer{
    padding: 2rem;
  }
  
  .education__header,.experience__header,.skills__header,.contact__header{
    height: 8rem;
  }
  
}

@media only screen and (max-width:37.5em){
  /*600px widht*/
  .me{
    display: none;
  }
  .me-2{
    display: block;
  }
}
